*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 380px;
}

header{
    background:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url("../images/hero.jpg");
    height: 500px;
    background-size: cover;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    align-items: center;
    width: 100%;
}

.logo{
    color: white;
    font-family: 'yesteryear', cursive;
    font-size: 40px;
}
.nav-menu{
    list-style: none;
    color: #fff;
}


.nav-menu li {
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.nav-menu li a {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.5s ease-out;
}
.nav-menu li a:hover,
.nav-menu li a:focus{
    color:#F2AC32;
}
@media(max-width: 700px) {
   .nav-menu {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        list-style-type: none;
        display: none;
    } 
    .nav-menu li a {
        display: block;
        font-size: 35px;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
    }
    nav{
        /* position: absolute; */
        padding: 30px 40px;
        align-items: flex-start;
        flex-direction: column;    
        background-image: linear-gradient(260deg, #f2ac32 0%, #beaa50   100%);
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav-menu li a:hover {
        background-image: linear-gradient(260deg, rgba(148, 110, 46) 0%, rgba(146, 122, 12)   100%);
    }
    /* navbar-toggle button*/
    .navbar-toggle {
        position: absolute;
        top:30px;
        right: 40px;
        cursor: pointer;
        color: rgba(255,255,255,0.8);
        font-size: 25px;
    }
    
}


.header-title-1{
    color: #F2AC32;
    font-size: 34px;
    font-family: Rochester, cursive;
    margin-top: 50px;
    margin-bottom: 10px;
}
.header-title-2{
    font-family: 'Oswald',sans-serif ;
    color: #fff;
    font-size: 55px;
    letter-spacing: 3px;
    margin-bottom: 25px;
}
.header-cta-button{
    color: white;
    background-color: #F2AC32;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Oswald',sans-serif ;
    font-size: 15px;
}
.header-cta-button:hover{
    background-color:rgb(180, 127, 36);
    transition: all 0.3s ease-in-out;
}
.my-bag{
    font-size: 16px;
}
.search{
    margin-left: 10px;
    margin-right: 10px;
}

/****************** Discover Section *****************/

.discover-section{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 100px;
    flex-wrap: wrap;
}

.food-item{
    height: 330px;
    width: 220px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-top: 20px;
    margin: 50px 20px;
}
.food-item p{
    color: rgb(110, 110, 110);
    font-size: 16px;
    margin-bottom: 15px;
}
.food-item a{
    font-size: 16px;
    text-decoration: none;
    color: #F2AC32;

}
.food-1{
    background-image: url('../images/burger.jpg');
    background-size: cover;
    margin-top:  -20px ;
    -webkit-box-shadow: -6px 12px 24px -1px rgba(0,0,0,0.72);
    -moz-box-shadow: -6px 12px 24px -1px rgba(0,0,0,0.72);
    box-shadow: -6px 12px 24px -1px rgba(0,0,0,0.72);
}
.food-2{
    background-image: url('../images/egg-toast.jpg');
    background-size: cover;
    -webkit-box-shadow: -6px 12px 24px -1px rgba(0,0,0,0.72);
    -moz-box-shadow: -6px 12px 24px -1px rgba(0,0,0,0.72);
    box-shadow: -6px 12px 24px -1px rgba(0,0,0,0.72);   
}
.discover-h1{
    font-family: 'Rochester', cursive;
    color: #F2AC32;
}
.discover-h2{
    font-family: 'Oswald', cursive;
    font-size: 23px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.food-border{
    border: 2px solid #F2AC32;
    position: relative;
}
.food-overlay{
    padding: 50px 10px 0 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: -6px 12px 24px -1px rgba(0,0,0,0.72);
    -moz-box-shadow: -6px 12px 24px -1px rgba(0,0,0,0.72);
    box-shadow: -6px 12px 24px -1px rgba(0,0,0,0.72);
}

@media(max-width: 480px){
    .food-item{
        height: 280px;
        width: 180px;
        /* margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        padding-top: 20px;
        margin: 50px 20px; */
    }
    .food-2{
        margin-top: 0;
    }
}
@media (max-width: 996px){
    .discover-section{
        padding: 50px;
    }
}

/****************** Specialaties Section *****************/
.specialaties-section{
    background:  linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("../images/plates.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.specialaties-middle{
    text-align: center;
}
.specialaties-h1{
    font-family: 'Rochester', cursive;
    color: #F2AC32;
}
.specialaties-h2{
    font-family: 'Oswald',sans-serif ;
    color: #fff;
    font-size: 55px;
    letter-spacing: 3px;
    margin-bottom: 80px;
}
.specialaties-h3{
    font-size: 26px;
    font-family: 'Oswald',sans-serif ;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 100px;
}
.specialaties-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.specialaties-col{
    width: 250px;
    margin-right: 10px;
    margin-left: 10px;
}

.specialaties-image1,
.specialaties-image2,
.specialaties-image3{
    width: 100%;
    height: 300px;
    background-size: cover;
    margin-bottom: 30px;
    position: relative;
    background-position: center;
}

.specialaties-image1{
    background-image: url('../images/breakfast.jpg');
}
.specialaties-image2{
    background-image: url('../images/lunch.jpg');
}
.specialaties-image3{
    background-image: url('../images/dinner.jpg');
}
.specialaties-overlay{
    opacity: 0;
    position: absolute;
    background-color: rgb(204, 156, 25, 0.7);
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.specialaties-overlay-border{
    border: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'Oswald',sans-serif ;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
}
.specialaties-image1:hover .specialaties-overlay,
.specialaties-image2:hover .specialaties-overlay,.specialaties-image3:hover .specialaties-overlay{
    opacity: 1;
}

/*  the Specialaties Middle */
.specialaties-middle:before{
    content: '';
    position: absolute;
    border-top: 100px solid #f0f0f0;
    border-right: 100vw solid transparent;
    top: 0;
    left: 0;
}
.specialaties-middle:after{
    content: '';
    position: absolute;
    border-bottom: 100px solid #f0f0f0;
    border-left: 100vw solid transparent;
    bottom: 0;
    right: 0;
}

@media (max-width:556px){
    .specialaties-h2{
        font-family: 'Oswald',sans-serif ;
        color: #fff;
        font-size: 35px;
        letter-spacing: 2px;
        margin-bottom: 40px;
    }
    .specialaties-h3{
        font-size: 20px;
        font-family: 'Oswald',sans-serif ;
        color: #fff;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }
    .specialaties-image1,
    .specialaties-image2,
    .specialaties-image3{
    width: 100%;
    height: 200px;
    background-size: cover;
    margin-bottom: 20px;
    position: relative;
}

}

/****************** Special Menu Section *****************/

.special-menu-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.special-menu-section{
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px;
}

.special-menu-h1{
    font-family: 'Rochester', cursive;
    color: #F2AC32;
}
.special-menu-h2{
    font-family: 'Oswald', sans-serif;
    color: #000;
    margin-bottom: 50px;
    font-size: 50px;
    letter-spacing: 2px;
}
.special-menu-h3{
    font-family: 'Rochester', cursive;
    width: 100%;
    font-size: 22px;
    letter-spacing: 2px;
}
.separator,
.separator-orange{
    display: inline-block;
    width: 40px;
    border-bottom: 2px solid #fff;
    margin: 15px auto;
}
.special-menu-h4{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    letter-spacing: 2px;
}
.special-menu-p{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    font-size: 14px;
    padding: 30px 20px;
}
.special-menu-col{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-width: 315px;
    max-width: 430px;
}
.col-large{
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}
.col-large-1,
.col-large-3{
    background-color: #F2AC32;
    color: #fff;
    justify-content: center;
}
.fa-ice-cream,
.fa-utensils{
    width: 100%;
    font-size: 50px;
    margin-bottom: 10px;
}
.col-large-2{
    background-image: url('../images/ice_cream.jpg');
    background-size: cover;
    background-position: center;
}
.col-large-4{
    background-image: url('../images/pizza.jpg');
    background-size: cover;
    background-position: center;
}

/* Col-small style */

.fa-hamburger{
    color: #F2AC32;
    font-size: 50px;
    width: 100%;
    margin-bottom: 10px;
}
.col-small{
    height: 175px; /* col-large/2 */
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    padding:50px 0 50px 0;
    background-size: cover;
    background-position: center;
}
.col-small-1,
.col-small-4{
    background-color: #fff;
}
.col-small-2{
    background-image: url('../images/salmon.jpg');
}
.col-small-2-2{
    background-image: url('../images/vegetable.jpg');
}
.col-small-3-3{
    background-image: url('../images/balls.jpg');
}
.col-small-3{
    background-image: url('../images/small_pizza.jpg');
}
.col-small-h3{
    font-family: 'Rochester', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    width: 100%;
    color: #F2AC32;
}
.col-small-h4,
.col-small-h5{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    width: 100%;
    color: #000;
}
.col-small-h5{
    color: #F2AC32;
    margin-bottom: 10px;
}
.separator-orange{
    border-bottom: 2px solid #F2AC32;
}

/* With some media for responsive of SPECIAL MENU only*/
@media only screen and (min-width: 1000px) {
    .special-menu-col{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .special-menu-container {
        justify-content: center;
    }     
}

@media (max-width: 485px) {
    .special-menu-section{
        padding: 50px 20px;
    }
}
@media only screen and (max-width: 800px) {
    .special-menu-container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }   
    .special-menu-h2{
        font-family: 'Oswald', sans-serif;
        color: #000;
        margin-bottom: 50px;
        font-size: 30px;
        letter-spacing: 2px;
    }


}

/***************  OUR MENU SECTION  ***************/


.our-menu-section{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url("../images/plates_as_a_service.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 50px;
}
.our-menu-h1{
    font-family: 'Rochester', cursive;
    color: #F2AC32;
}
.our-menu-h2{
    font-family: 'Oswald', sans-serif;
    color: #fff;
    margin-bottom: 50px;
    font-size: 40px;
    letter-spacing: 2px;
}
.food-container{
    color: #fff;
    text-align: left;
    padding-left: 10%;
    margin: 5%;
    min-width: 290px;
}
.our-menu-row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5% 10% 5% 10%;
}
@media(max-width:470px){
    .our-menu-row{
        justify-content: start;
        margin-left: 0;
    }
    .our-menu-h2{
        margin-bottom: 0;
    }
}
.our-menu-col{
    width: 40%;
    max-width: 500px; 
}

.food-title {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}
.food-title:after{
    content: ' ---------------';
    font-size: 10px;
    letter-spacing: 2px;
    
}

.food-price {
    font-size: 17px;
    color: #F2AC32;
    font-family: 'Oswald', sans-serif;
}
.food-ingredients {
    text-transform: lowercase;
    font-size: 12px;
}
.our-menu-button{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border: 2px solid #fff  ;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}
.our-menu-button:hover {
    background-color:rgba(253, 176, 44, 0.8);
    color: #000;
    transition: all 0.4s ease-in-out;
    border-color: rgba(253, 176, 44, 0.8);
    padding: 10px 23px;
}

@media only screen and (max-width: 700px){
    
    .our-menu-col{
        width: 80%;
        max-width: 500px;    
        margin: 10px;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1115px){
        
    .our-menu-col{
        width: 45%;   
        margin: 10px;
    }
}


/****************** BOOKING TABLE Section *****************/

.booking-table-section {
    padding: 60px;
    background-color: #f0f0f0;
}
.booking-table-h1 {
    font-family: 'Rochester', cursive;
    color: #F2AC32;
    text-align: center;
}
.booking-table-h2 {
    font-family: 'Oswald', sans-serif;
    color: #000;
    margin-bottom: 30px;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.booking-table-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.booking-div {
    background-color: #fff;
    margin: 20px;
    border: 1px solid #000;
    width: 142px;
}
.booking-icon {
    padding: 10px;
    display: inline-block;
    border-right: 2px solid #f0f0f0; /**/
    cursor: pointer;
}
.booking-icon:hover {
    background-color:rgb(241, 167, 37);
    transition: all 0.3s ease-in-out;
}
.booking-data {
    padding-left: 10px;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

 .booking-cta{
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(241, 167, 37);
    padding: 10px 20px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    border: none;
    text-align: center;
    height: 40px;
}
.booking-cta:hover {
    background-color:rgb(180, 127, 36);
    transition: all 0.3s ease-in-out;
}


/***************  FOOTER Section  ****************/

.footer-section {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url("../images/footer-img.jpg");
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    padding-bottom: 0;
}
.footer-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 50px;
}
.footer-col {
    margin: 30px;
    width: 150px;
}
.footer-title {
    text-transform: uppercase;
    color: #F2AC32;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.footer-text {
    margin: 10px 10px 10px 0;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 15px;
}
.footer-email {
    padding: 10px ;
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.footer-subscribe {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #F2AC32;
    padding: 5px 30px; 
    font-family: 'Oswald', sans-serif;
    width: 200px;
    height: 30px;
    text-align: center;
}

.copyright {
    padding: 35px;
    color: #f0f0f0;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    border-top: 1px solid #a7a7a73d;
    text-align: center;
}
.copyright-name{
    color: #F2AC32;
}

/********** Top page button ************/

.fixed_button{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 30px;
    padding: 5px;
    border: none;
    z-index: 99;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    text-align: center;
    border-radius: 10px;
}

a.fixed_button {
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(75, 66, 66, 0.3);
    color: #fff;
}